@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   
  margin: 0 auto;  
}

html {
  --s: 122px; /* control the size*/
  --c1: #fcfcfc;
  --c2: #ffffff;
  
  --_g: #0000 90deg,var(--c1) 0;
  background: 
    conic-gradient(from 90deg at 2px 2px,var(--_g)),
    conic-gradient(from 90deg at 1px 1px,var(--_g)),
    var(--c2);
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);

  animation: animatePattern 4s infinite ease-in-out;
}

@keyframes animatePattern {
  0% {
    background-position: 0 0, 0 0;
  }
  25% {
    background-position: 10px 0, -10px 5px;
  }
  50% {
    background-position: -5px -10px, 10px 10px;
  }
  75% {
    background-position: 0 -10px, -5px 0;
  }
  100% {
    background-position: 0 0, 0 0;
  }
}

@font-face {
  font-family: 'Bold';
  src: url('./assets/fonts/manrope/static/Manrope-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ExtraBold';
  src: url('./assets/fonts/manrope/static/Manrope-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'ExtraLight';
  src: url('./assets/fonts/manrope/static/Manrope-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Light';
  src: url('./assets/fonts/manrope/static/Manrope-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: url('./assets/fonts/manrope/static/Manrope-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src: url('./assets/fonts/manrope/static/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SemiBold';
  src: url('./assets/fonts/manrope/static/Manrope-SemiBold.ttf') format('truetype');
}

@keyframes colorFade {
  0% {
    background-color: rgba(0, 0, 0, 0.2); /* Color inicial */
  }
  50% {
    background-color: rgb(112, 106, 228); /* bg-indigo-600 */
  }
  100% {
    background-color: rgba(78, 70, 229, 0.904); /* bg-indigo-600 */
  }
}

.animate-color > div {
  animation: colorFade 2s ease-in-out forwards; /* Duración y transición */
}